@model DocumentOrderViewModel
<fieldset>
    <legend>
        <label for="Series">
            Enter the department and series number, for example FO 371
        </label>
    </legend>
    <p class="helper-text">
        We are unable to produce the following document series in bulk due to their
        size, condition or content:

        <span id="unavailable-docs">BT 42, BT 43, BT 50, BT 52, C 13, C 14, E 112, KB 122, PROB 4, WO 416</span>
    </p>

    @if (ViewData.ModelState["Series"]?.Errors.Count() > 0)
    {
        @Html.TextBoxFor(Model => Model.Series, "", new { @class = "form-warning", aria_describedby = "validation-message-series" })
        @Html.ValidationMessageFor(Model => Model.Series, "", new { @class = "form-error", id = "validation-message-series" })
    }
    else
    {
        @Html.TextBoxFor(Model => Model.Series)
    }
</fieldset>

<fieldset>
    <legend>Enter 20&ndash;40 full catalogue references, for example FO 371/114865</legend>
    <p class="helper-text">
        Order between 20 and 40 documents from the same series.<br>
        Search <a target="_blank" rel="noreferrer noopener" href="https://discovery.nationalarchives.gov.uk/">Discovery, our catalogue</a>
        to find catalogue references.
    </p>

    @if (Model.MinimumRequiredDocuments > 0)
    {
        <p class="warning">
            You need to add at least 20 documents before the deadline to avoid your order being cancelled.
        </p>
    }

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="order-form-field">
            <label for="DocumentReference1">1</label>
            @if (ViewData.ModelState["DocumentReference1"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference1, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference1"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference1, "", new { @class = "form-error", id = "validation-message-DocumentReference1" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference1)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference2">2</label>
            @if (ViewData.ModelState["DocumentReference2"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference2, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference2"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference2, "", new { @class = "form-error", id = "validation-message-DocumentReference2" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference2)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference3">3</label>
            @if (ViewData.ModelState["DocumentReference3"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference3, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference3"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference3, "", new { @class = "form-error", id = "validation-message-DocumentReference3" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference3)
            }
        </div>
        <div class="order-form-field">
            <label for="DocumentReference4">4</label>
            @if (ViewData.ModelState["DocumentReference4"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference4, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference4"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference4, "", new { @class = "form-error", id = "validation-message-DocumentReference4" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference4)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference5">5</label>
            @if (ViewData.ModelState["DocumentReference5"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference5, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference5"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference5, "", new { @class = "form-error", id = "validation-message-DocumentReference5" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference5)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference6">6</label>
            @if (ViewData.ModelState["DocumentReference6"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference6, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference6"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference6, "", new { @class = "form-error", id = "validation-message-DocumentReference6" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference6)
            }
        </div>
        <div class="order-form-field">
            <label for="DocumentReference7">7</label>
            @if (ViewData.ModelState["DocumentReference7"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference7, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference7"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference7, "", new { @class = "form-error", id = "validation-message-DocumentReference7" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference7)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference8">8</label>
            @if (ViewData.ModelState["DocumentReference8"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference8, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference8"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference8, "", new { @class = "form-error", id = "validation-message-DocumentReference8" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference8)

            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference9">9</label>
            @if (ViewData.ModelState["DocumentReference9"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference9, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference9"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference9, "", new { @class = "form-error", id = "validation-message-DocumentReference9" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference9)
            }
        </div>
        <div class="order-form-field">
            <label for="DocumentReference10">10</label>
            @if (ViewData.ModelState["DocumentReference10"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference10, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference10"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference10, "", new { @class = "form-error", id = "validation-message-DocumentReference10" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference10)
            }
        </div>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="order-form-field">
            <label for="DocumentReference11">11</label>
            @if (ViewData.ModelState["DocumentReference11"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference11, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference11"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference11, "", new { @class = "form-error", id = "validation-message-DocumentReference11" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference11)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference12">12</label>
            @if (ViewData.ModelState["DocumentReference12"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference12, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference12"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference12, "", new { @class = "form-error", id = "validation-message-DocumentReference12" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference12)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference13">13</label>
            @if (ViewData.ModelState["DocumentReference13"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference13, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference13"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference13, "", new { @class = "form-error", id = "validation-message-DocumentReference13" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference13)
            }
        </div>
        <div class="order-form-field">
            <label for="DocumentReference14">14</label>
            @if (ViewData.ModelState["DocumentReference14"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference14, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference14"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference14, "", new { @class = "form-error", id = "validation-message-DocumentReference14" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference14)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference15">15</label>
            @if (ViewData.ModelState["DocumentReference15"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference15, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference15"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference15, "", new { @class = "form-error", id = "validation-message-DocumentReference15" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference15)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference16">16</label>
            @if (ViewData.ModelState["DocumentReference16"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference16, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference16"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference16, "", new { @class = "form-error", id = "validation-message-DocumentReference16" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference16)
            }
        </div>
        <div class="order-form-field">
            <label for="DocumentReference17">17</label>
            @if (ViewData.ModelState["DocumentReference17"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference17, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference17"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference17, "", new { @class = "form-error", id = "validation-message-DocumentReference17" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference17)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference18">18</label>
            @if (ViewData.ModelState["DocumentReference18"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference18, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference18"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference18, "", new { @class = "form-error", id = "validation-message-DocumentReference18" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference18)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference19">19</label>
            @if (ViewData.ModelState["DocumentReference19"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference19, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference19"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference19, "", new { @class = "form-error", id = "validation-message-DocumentReference19" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference19)
            }
        </div>
        <div class="order-form-field">
            <label for="DocumentReference20">20</label>
            @if (ViewData.ModelState["DocumentReference20"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference20, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference20"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference20, "", new { @class = "form-error", id = "validation-message-DocumentReference20" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference20)
            }
        </div>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="order-form-field">
            <label for="DocumentReference21">21</label>
            @if (ViewData.ModelState["DocumentReference21"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference21, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference21"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference21, "", new { @class = "form-error", id = "validation-message-DocumentReference21" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference21)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference22">22</label>
            @if (ViewData.ModelState["DocumentReference22"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference22, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference22"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference22, "", new { @class = "form-error", id = "validation-message-DocumentReference22" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference22)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference23">23</label>
            @if (ViewData.ModelState["DocumentReference23"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference23, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference23"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference23, "", new { @class = "form-error", id = "validation-message-DocumentReference23" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference23)
            }
        </div>
        <div class="order-form-field">
            <label for="DocumentReference24">24</label>
            @if (ViewData.ModelState["DocumentReference24"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference24, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference24"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference24, "", new { @class = "form-error", id = "validation-message-DocumentReference24" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference24)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference25">25</label>
            @if (ViewData.ModelState["DocumentReference25"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference25, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference25"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference25, "", new { @class = "form-error", id = "validation-message-DocumentReference25" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference25)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference26">26</label>
            @if (ViewData.ModelState["DocumentReference26"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference26, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference26"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference26, "", new { @class = "form-error", id = "validation-message-DocumentReference26" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference26)
            }
        </div>
        <div class="order-form-field">
            <label for="DocumentReference27">27</label>
            @if (ViewData.ModelState["DocumentReference27"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference27, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference27"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference27, "", new { @class = "form-error", id = "validation-message-DocumentReference27" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference27)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference28">28</label>
            @if (ViewData.ModelState["DocumentReference28"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference28, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference28"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference28, "", new { @class = "form-error", id = "validation-message-DocumentReference28" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference28)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference29">29</label>
            @if (ViewData.ModelState["DocumentReference29"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference29, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference29"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference29, "", new { @class = "form-error", id = "validation-message-DocumentReference29" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference29)
            }
        </div>
        <div class="order-form-field">
            <label for="DocumentReference30">30</label>
            @if (ViewData.ModelState["DocumentReference30"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference30, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference30"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference30, "", new { @class = "form-error", id = "validation-message-DocumentReference30" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference30)
            }
        </div>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="order-form-field">
            <label for="DocumentReference31">31</label>
            @if (ViewData.ModelState["DocumentReference31"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference31, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference31"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference31, "", new { @class = "form-error", id = "validation-message-DocumentReference31" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference31)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference32">32</label>
            @if (ViewData.ModelState["DocumentReference32"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference32, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference32"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference32, "", new { @class = "form-error", id = "validation-message-DocumentReference32" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference32)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference33">33</label>
            @if (ViewData.ModelState["DocumentReference33"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference33, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference33"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference33, "", new { @class = "form-error", id = "validation-message-DocumentReference33" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference33)
            }
        </div>
        <div class="order-form-field">
            <label for="DocumentReference34">34</label>
            @if (ViewData.ModelState["DocumentReference34"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference34, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference34"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference34, "", new { @class = "form-error", id = "validation-message-DocumentReference34" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference34)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference35">35</label>
            @if (ViewData.ModelState["DocumentReference35"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference35, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference35"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference35, "", new { @class = "form-error", id = "validation-message-DocumentReference35" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference35)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference36">36</label>
            @if (ViewData.ModelState["DocumentReference36"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference36, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference36"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference36, "", new { @class = "form-error", id = "validation-message-DocumentReference36" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference36)
            }
        </div>
        <div class="order-form-field">
            <label for="DocumentReference37">37</label>
            @if (ViewData.ModelState["DocumentReference37"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference37, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference37"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference37, "", new { @class = "form-error", id = "validation-message-DocumentReference37" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference37)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference38">38</label>
            @if (ViewData.ModelState["DocumentReference38"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference38, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference38"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference38, "", new { @class = "form-error", id = "validation-message-DocumentReference38" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference38)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference39">39</label>
            @if (ViewData.ModelState["DocumentReference39"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference39, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference39"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference39, "", new { @class = "form-error", id = "validation-message-DocumentReference39" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference39)
            }
        </div>
        <div class="order-form-field">
            <label for="DocumentReference40">40</label>
            @if (ViewData.ModelState["DocumentReference40"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference40, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference40"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference40, "", new { @class = "form-error", id = "validation-message-DocumentReference40" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference40)
            }
        </div>
    </div>
</fieldset>