@model DocumentOrderViewModel
<fieldset>
    <legend>Enter up to 12 full catalogue references</legend>
    <p class="helper-text">
        Documents can be from multiple series, for example ADM 22 and C 142.<br>
        <a target="_blank" rel="noreferrer noopener" href="https://discovery.nationalarchives.gov.uk/">Search our catalogue to find catalogue references.</a>
    </p>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="order-form-field">
            <label for="doc-1">1</label>
            @if (ViewData.ModelState["DocumentReference1"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference1, "", new { @class = "form-warning" })
                @Html.ValidationMessageFor(Model => Model.DocumentReference1, "", new { @class = "form-error" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference1)
            }
        </div>

        <div class="order-form-field">
            <label for="doc-2">2</label>
            @if (ViewData.ModelState["DocumentReference2"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference2, "", new { @class = "form-warning" })
                @Html.ValidationMessageFor(Model => Model.DocumentReference2, "", new { @class = "form-error" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference2)
            }
        </div>

        <div class="order-form-field">
            <label for="doc-3">3</label>
            @if (ViewData.ModelState["DocumentReference3"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference3, "", new { @class = "form-warning" })
                @Html.ValidationMessageFor(Model => Model.DocumentReference3, "", new { @class = "form-error" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference3)
            }
        </div>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="order-form-field">
            <label for="doc-4">4</label>
            @if (ViewData.ModelState["DocumentReference4"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference4, "", new { @class = "form-warning" })
                @Html.ValidationMessageFor(Model => Model.DocumentReference4, "", new { @class = "form-error" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference4)
            }
        </div>

        <div class="order-form-field">
            <label for="doc-5">5</label>
            @if (ViewData.ModelState["DocumentReference5"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference5, "", new { @class = "form-warning" })
                @Html.ValidationMessageFor(Model => Model.DocumentReference5, "", new { @class = "form-error" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference5)
            }
        </div>

        <div class="order-form-field">
            <label for="doc-6">6</label>
            @if (ViewData.ModelState["DocumentReference6"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference6, "", new { @class = "form-warning" })
                @Html.ValidationMessageFor(Model => Model.DocumentReference6, "", new { @class = "form-error" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference6)
            }
        </div>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="order-form-field">
            <label for="doc-7">7</label>
            @if (ViewData.ModelState["DocumentReference7"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference7, "", new { @class = "form-warning" })
                @Html.ValidationMessageFor(Model => Model.DocumentReference7, "", new { @class = "form-error" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference7)
            }
        </div>

        <div class="order-form-field">
            <label for="doc-8">8</label>
            @if (ViewData.ModelState["DocumentReference8"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference8, "", new { @class = "form-warning" })
                @Html.ValidationMessageFor(Model => Model.DocumentReference8, "", new { @class = "form-error" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference8)
            }
        </div>

        <div class="order-form-field">
            <label for="doc-9">9</label>
            @if (ViewData.ModelState["DocumentReference9"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference9, "", new { @class = "form-warning" })
                @Html.ValidationMessageFor(Model => Model.DocumentReference9, "", new { @class = "form-error" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference9)
            }
        </div>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="order-form-field">
            <label for="doc-10">10</label>
            @if (ViewData.ModelState["DocumentReference10"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference10, "", new { @class = "form-warning" })
                @Html.ValidationMessageFor(Model => Model.DocumentReference10, "", new { @class = "form-error" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference10)
            }
        </div>

        <div class="order-form-field">
            <label for="doc-11">11</label>
            @if (ViewData.ModelState["DocumentReference11"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference11, "", new { @class = "form-warning" })
                @Html.ValidationMessageFor(Model => Model.DocumentReference11, "", new { @class = "form-error" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference11)
            }
        </div>

        <div class="order-form-field">
            <label for="doc-12">12</label>
            @if (ViewData.ModelState["DocumentReference12"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference12, "", new { @class = "form-warning" })
                @Html.ValidationMessageFor(Model => Model.DocumentReference12, "", new { @class = "form-error" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference12)
            }
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>Enter up to 3 reserve catalogue references</legend>
    <p class="helper-text">
        You can provide 3 reserve catalogue references in case
        your first choices are unavailable.
    </p>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="order-form-field">
            <label for="reserve-1">A</label>
            @if (ViewData.ModelState["ReserveDocumentReference1"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.ReserveDocumentReference1, "", new { @class = "form-warning" })
                @Html.ValidationMessageFor(Model => Model.ReserveDocumentReference1, "", new { @class = "form-error" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.ReserveDocumentReference1)
            }
        </div>

        <div class="order-form-field">
            <label for="reserve-2">B</label>
            @if (ViewData.ModelState["ReserveDocumentReference2"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.ReserveDocumentReference2, "", new { @class = "form-warning" })
                @Html.ValidationMessageFor(Model => Model.ReserveDocumentReference2, "", new { @class = "form-error" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.ReserveDocumentReference2)
            }
        </div>

        <div class="order-form-field">
            <label for="reserve-3">C</label>
            @if (ViewData.ModelState["ReserveDocumentReference3"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.ReserveDocumentReference3, "", new { @class = "form-warning" })
                @Html.ValidationMessageFor(Model => Model.ReserveDocumentReference3, "", new { @class = "form-error" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.ReserveDocumentReference3)
            }
        </div>
    </div>
</fieldset>