@model DocumentOrderViewModel
<fieldset>
    <legend>Enter up to 12 full catalogue references</legend>
    <p class="helper-text">
        Documents can be from multiple series, for example ADM 22 and C 142.<br>
        Search <a target="_blank" rel="noreferrer noopener" href="https://discovery.nationalarchives.gov.uk/">Discovery, our catalogue</a>
        to find catalogue references.
    </p>

    @if (Model.MinimumRequiredDocuments > 0)
    {
        <p class="warning">
            You need to add at least 1 document before the deadline to avoid your order being cancelled. 
        </p>
    }
    <p class="warning">
        If you intend to request the same document for multiple days within the same week please only order for the first day of your visit.
        You will be able to reserve the documents for a future date during your visit.
    </p>
    <p class="helper-text">
        Please note: we cannot guarantee that all the documents you have requested will be available on the day. 
        If there is a document that is of particular importance to your research, please add a note to the 'additional comments' box and we will contact you if it is unavailable.
    </p>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="order-form-field">
            <label for="DocumentReference1">1</label>
            @if (ViewData.ModelState["DocumentReference1"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference1, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference1"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference1, "", new { @class = "form-error", id = "validation-message-DocumentReference1" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference1)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference2">2</label>
            @if (ViewData.ModelState["DocumentReference2"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference2, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference2"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference2, "", new { @class = "form-error", id = "validation-message-DocumentReference2" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference2)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference3">3</label>
            @if (ViewData.ModelState["DocumentReference3"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference3, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference3"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference3, "", new { @class = "form-error", id = "validation-message-DocumentReference3" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference3)
            }
        </div>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="order-form-field">
            <label for="DocumentReference4">4</label>
            @if (ViewData.ModelState["DocumentReference4"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference4, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference4"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference4, "", new { @class = "form-error", id = "validation-message-DocumentReference4" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference4)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference5">5</label>
            @if (ViewData.ModelState["DocumentReference5"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference5, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference5"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference5, "", new { @class = "form-error", id = "validation-message-DocumentReference5" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference5)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference6">6</label>
            @if (ViewData.ModelState["DocumentReference6"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference6, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference6"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference6, "", new { @class = "form-error", id = "validation-message-DocumentReference6" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference6)
            }
        </div>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="order-form-field">
            <label for="DocumentReference7"">7</label>
            @if (ViewData.ModelState["DocumentReference7"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference7, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference7"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference7, "", new { @class = "form-error", id = "validation-message-DocumentReference7" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference7)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference8">8</label>
            @if (ViewData.ModelState["DocumentReference8"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference8, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference8"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference8, "", new { @class = "form-error", id = "validation-message-DocumentReference8" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference8)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference9">9</label>
            @if (ViewData.ModelState["DocumentReference9"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference9, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference9"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference9, "", new { @class = "form-error", id = "validation-message-DocumentReference9" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference9)
            }
        </div>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="order-form-field">
            <label for="DocumentReference10">10</label>
            @if (ViewData.ModelState["DocumentReference10"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference10, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference10"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference10, "", new { @class = "form-error", id = "validation-message-DocumentReference10" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference10)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference11">11</label>
            @if (ViewData.ModelState["DocumentReference11"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference11, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference11"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference11, "", new { @class = "form-error", id = "validation-message-DocumentReference11" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference11)
            }
        </div>

        <div class="order-form-field">
            <label for="DocumentReference12">12</label>
            @if (ViewData.ModelState["DocumentReference12"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.DocumentReference12, "", new { @class = "form-warning", aria_describedby = "validation-message-DocumentReference12"})
                @Html.ValidationMessageFor(Model => Model.DocumentReference12, "", new { @class = "form-error", id = "validation-message-DocumentReference12" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.DocumentReference12)
            }
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>Enter up to 3 reserve catalogue references</legend>
    <p class="helper-text">
        You can provide 3 reserve catalogue references in case
        your first choices are unavailable.
    </p>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="order-form-field">
            <label for="ReserveDocumentReference1">A</label>
            @if (ViewData.ModelState["ReserveDocumentReference1"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.ReserveDocumentReference1, "", new { @class = "form-warning", aria_describedby = "validation-message-ReserveDocumentReference1"})
                @Html.ValidationMessageFor(Model => Model.ReserveDocumentReference1, "", new { @class = "form-error", id = "validation-message-ReserveDocumentReference1" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.ReserveDocumentReference1)
            }
        </div>

        <div class="order-form-field">
            <label for="ReserveDocumentReference2">B</label>
            @if (ViewData.ModelState["ReserveDocumentReference2"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.ReserveDocumentReference2, "", new { @class = "form-warning", aria_describedby = "validation-message-ReserveDocumentReference2"})
                @Html.ValidationMessageFor(Model => Model.ReserveDocumentReference2, "", new { @class = "form-error", id = "validation-message-ReserveDocumentReference2" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.ReserveDocumentReference2)
            }
        </div>

        <div class="order-form-field">
            <label for="ReserveDocumentReference3">C</label>
            @if (ViewData.ModelState["ReserveDocumentReference3"]?.Errors.Count() > 0)
            {
                @Html.TextBoxFor(Model => Model.ReserveDocumentReference3, "", new { @class = "form-warning", aria_describedby = "validation-message-ReserveDocumentReference3"})
                @Html.ValidationMessageFor(Model => Model.ReserveDocumentReference3, "", new { @class = "form-error", id = "validation-message-ReserveDocumentReference3" })
            }
            else
            {
                @Html.TextBoxFor(Model => Model.ReserveDocumentReference3)
            }
        </div>
    </div>
</fieldset>