@using book_a_reading_room_visit.web.Helper
@using book_a_reading_room_visit.web.Models
@using book_a_reading_room_visit.model

@model AvailabilityViewModel
@{
    ViewData["Title"] = $"Select date - {(Model.BookingType == BookingTypes.StandardOrderVisit ? "standard booking" : "bulk order booking")} - The National Archives";
}

@await Html.PartialAsync("Partials/_Breadcrumbs")

<h1 class="display-4">1. Select a date</h1>

<div class="container content-wrapper">

    <div class="text-center">
        <section class="row" id="progress-bar">
            <h2 class="sr-only">Progress</h2>
            <div class="col-md-12">
                <ol>
                    <li aria-current="page" class="active"><span class="step-number">1</span> <span class="step">Select a date</span></li>
                    <li><span class="step-number">2</span> <span class="step">Enter your details</span></li>
                    <li><span class="step-number">3</span> <span class="step">Your visit details</span></li>
                    <li><span class="step-number">4</span> <span class="step">Order documents</span></li>
                    <li><span class="step-number">5</span> <span class="step">Order summary</span></li>
                </ol>
            </div>
        </section>
    </div>

    <div class="heading">
        <div class="row">
            @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
            {
                <div class="summary-error-message">
                    <h2>There was a problem.</h2>
                    <p>@Model.ErrorMessage</p>
                </div>
            }
            <div class="col-lg-8 col-md-8">
                <h2>
                    You are viewing @(Model.BookingType == BookingTypes.StandardOrderVisit ? "standard visit availability" : "bulk order visit availability")
                </h2>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="visit-toggler">
                    @if (Model.BookingType == BookingTypes.StandardOrderVisit)
                    {
                        <a href="@Url.Action("Availability", "Home", new { bookingType = "bulk-order-visit" })">See bulk order visit availability</a>
                    }

                    else
                    {
                        <a href="@Url.Action("Availability", "Home", new { bookingType = "standard-order-visit" })">See standard visit availability</a>
                    }
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div id="room-selection" class="align-left">
            <div class="col-md-4 col-sm-4">
                <h3>@(Model.BookingType == BookingTypes.StandardOrderVisit ? "Choose a reading room" : "Room information")</h3>

                @if (Model.BookingType == BookingTypes.StandardOrderVisit)
                {
                    <form id="room-selection-form" action="@Url.Action("Availability", "Home", new { bookingType = @Model.BookingType.ToStringURL() })" method="GET">
                        <fieldset>
                            <legend class="sr-only">Choose a reading room</legend>

                            <div>
                                <label for="standard-room">Document reading room</label>
                                @Html.RadioButton("seattype", SeatTypes.StdRRSeat.ToStringURL(), Model.SeatType.ToStringURL() == SeatTypes.StdRRSeat.ToStringURL(), new { id = "standard-room" })
                                <p class="helper-text">If you are unsure of which room you need, choose this one. We can change this later if we need to.</p>
                            </div>

                            <div class="border-top">
                                <label for="map-and-lg-room">Map and large document reading room</label>
                                @Html.RadioButton("seattype", SeatTypes.MandLRR.ToStringURL(), Model.SeatType.ToStringURL() == SeatTypes.MandLRR.ToStringURL(), new { id = "map-and-lg-room" })
                                <p class="helper-text">You can use this room if any of the documents you are ordering are maps, large documents or dated pre-16th century.</p>
                            </div>

                            <button class="button" type="submit">Update availability</button>
                        </fieldset>

                        <div class="prompt-white">
                            <details open>
                                <summary>Need a camera stand?</summary>
                                <p class="helper-text no-margin no-padding">
                                    Please tell us if you need a camera stand in the ‘Access needs and research requests’ box when you order your documents in step 4.
                                </p>
                            </details>
                        </div>

                        <div class="prompt-white">
                            <details open>
                                <summary>Are accessible seats available?</summary>
                                <p class="helper-text no-margin no-padding">
                                    All seats in our reading rooms are accessible. You can tell us about your other access needs when you order your documents in step 4.
                                </p>
                            </details>
                        </div>
                    </form>
                }

                else
                {
                    <div class="prompt-white">
                        <details open>
                            <summary>Need a camera stand?</summary>
                            <p class="helper-text no-margin">
                                Please tell us if you need a camera stand in the ‘Access needs and research requests’ box when you order your documents in step 4.
                            </p>
                        </details>
                    </div>
                    <div class="prompt-white">
                        <details open>
                            <summary>Are accessible seats available?</summary>
                            <p class="helper-text no-margin">
                                All seats in our reading rooms are accessible. You can tell us about your other access needs when you order your
                                documents in step 4.
                            </p>
                        </details>
                    </div>
                }
            </div>

        </div>

        <div id="date-selection">
            <div class="col-md-8 col-sm-8">
                <h3>Select a date</h3>

                <div class="jumplink-container">
                    <p class="jump-to-date">

                        <span>First available date:</span> <b>@Model.FirstAvailableDate</b> &nbsp;<span class="small">(<a href="#first-available">Jump to this date</a>)</span>
                    </p>
                    <p><span>Jump to:</span></p>


                    <ul>
                        @for (var index = 0; index < Model.AvailableSeatGroups.Count; index++)
                        {
                            <li><a href="#month-@index">@Model.AvailableSeatGroups[index].Month</a></li>
                        }
                    </ul>
                </div>

                @for (var count = 0; count < Model.AvailableSeatGroups.Count; count++)
                {
                    <h4 id="month-@count">@Model.AvailableSeatGroups[count].Month</h4>
                    <ul>
                        @for (var index = Model.AvailableSeatGroups[count].StartIndex; index <= Model.AvailableSeatGroups[count].EndIndex; index++)
                        {
                            var dateText = $"{Model.AvailableBookings[index].Date:dddd dd MMMM yyyy}";
                            <li class="date">
                                @if (Model.AvailableBookings[index].AvailableSeats < 1)
                                {
                                    <span class="col-md-12 col-sm-12 col-xs-12 no-availability">
                                        <span class="col-md-6 col-sm-6 col-xs-6 align-left">@dateText</span>
                                        <span class="col-md-6 col-sm-6 col-xs-6 align-right">0 places available</span>
                                    </span>
                                }
                                else
                                {
                                    <form action="@Url.Action("SecureBooking", "Booking", new { bookingType = @Model.BookingType.ToStringURL() })" method="POST">
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("seattype", Model.SeatType.ToStringURL(), new { id = "" })
                                        @Html.Hidden("bookingstartdate", Model.AvailableBookings[index].Date, new { id = "" })
                                        <button class="button" type="submit" id="@Model.AvailableBookings[index].Id">
                                            <span class="col-md-12 col-sm-12 col-xs-12">
                                                <span class="col-md-6 col-sm-6 col-xs-6 align-left">@dateText</span>
                                                <span class="col-md-6 col-sm-6 col-xs-6 align-right">@Model.AvailableBookings[index].AvailableSeats @(Model.AvailableBookings[index].AvailableSeats == 1 ? "place" : "places") available</span>
                                            </span>
                                        </button>
                                    </form>
                                }
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</div>