@model book_a_reading_room_visit.model.AvailabilitySummaryModel
@{
    ViewData["Title"] = "Book a visit to view our documents - The National Archives";
}

@await Html.PartialAsync("Partials/_Breadcrumbs")

<h1 class="display-4">Book a visit to view our documents</h1>

<div id="home" class="text-center">

    <div class="container content-wrapper">

        <div class="heading text-left standfirst">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Use this service to book a visit to view our documents. You may book a maximum of 12 visits in a rolling 12-week period.<br>
                        <a class="info-link" href="https://www.nationalarchives.gov.uk/about/visit-us/about-the-book-a-reading-room-visit-service/">
                            Find out more about how to book and what to expect.
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="prompt-white primary-box">
            <div class="row">
                <div class="col-md-12">
                    <h2>Before you book</h2>
                    <p>You will need your reader’s ticket number to make a provisional booking.</p>
                    <a target="_blank" rel="noreferrer noopener" href="@Environment.GetEnvironmentVariable("ReaderRegisterURL")">Register for or renew a reader’s ticket</a>
                </div>
            </div>
        </div>

        <div class="row">
            <section class="order-option">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="order-option-heading">
                            <h2>Book a standard visit</h2>
                            <p class="bold-text">@Model.StandardBookingAvailable.ToString("N0") @(Model.StandardBookingAvailable == 1 ? "place" : "places") available</p>
                        </div>

                        <ul>
                            <li>Documents can be from <span class="bold-text">multiple series</span>,<br>for example ADM 22 and C 142</li>
                            <li>1-day visit</li>
                            <li>Up to 12 documents</li>
                            <li>Camera stands and computer access available</li>
                            <li>On-demand document ordering</li>
                        </ul>

                        @if (Model.StandardBookingAvailable > 0)
                        {
                            <a class="button primary" href="@Url.Action("Availability", "Home", new { bookingType = "standard-order-visit" })">Select a date</a>
                        }

                        else
                        {
                            <span class="no-dates">No available dates</span>
                        }
                    </div>
                </div>
            </section>

            <section class="order-option">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="order-option-heading">
                            <h2>Book a bulk order visit</h2>
                            <p class="bold-text">@Model.BulkBookingsAvailable.ToString("N0") @(Model.BulkBookingsAvailable == 1 ? "place" : "places") available</p>
                        </div>

                        <ul>
                            <li>Documents have to be from <span class="bold-text">one series</span>,<br>for example ADM 22</li>
                            <li>1-day visit</li>
                            <li>Between 20 and 40 documents</li>
                            <li>Camera stands and computer access available</li>
                            <li>On-demand document ordering</li>
                        </ul>

                        @if (Model.BulkBookingsAvailable > 0)
                        {
                            <a class="button primary" href="@Url.Action("Availability", "Home", new { bookingType = "bulk-order-visit" })">Select a date</a>
                        }

                        else
                        {
                            <span class="no-dates">No available dates</span>
                        }
                    </div>
                </div>
            </section>
        </div>

        <section class="prompt-white">
            <div class="row">
                <div class="col-md-12">
                    <h2>Already booked a visit?</h2>
                    <p>See your document order for an upcoming visit using your booking reference and reader’s ticket number.</p>
                    <a href="@Url.Action("ReturnToBooking", "Booking")">View or edit your document order</a>
                </div>
            </div>
        </section>
    </div>
</div>
