@using book_a_reading_room_visit.domain
@using book_a_reading_room_visit.web.Helper
@using book_a_reading_room_visit.web.Models
@{
    ViewData["Title"] = "Booking confirmation";
}
@model BookingViewModel

<h1 class="display-4">3. Reservation confirmation</h1>

<div class="text-center">

    <section class="container">

        <section id="progress-bar">
            <div class="row">
                <div class="col-md-12">
                    <ol>
                        <li><span class="step-number">1</span> <span class="step">Select a date</span></li>
                        <li><span class="step-number">2</span> <span class="step">Enter your reader's ticket</span></li>
                        <li class="active"><span class="step-number">3</span> <span class="step">Reservation confirmation</span></li>
                        <li><span class="step-number">4</span> <span class="step">Order documents</span></li>
                        <li><span class="step-number">5</span> <span class="step">Order complete</span></li>
                    </ol>
                </div>
            </div>
        </section>

        <section class="heading">
            <h2>We have reserved a space for you</h2>
        </section>

        <section class="booking-summary">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="prompt-grey">
                        <p>@(Model.BookingType == BookingTypes.StandardOrderVisit ? "Standard order" : "Bulk order") - @($"{Model.BookingStartDate:dddd dd MMMM}")</p>

                        @if (Model.BookingType == BookingTypes.StandardOrderVisit)
                        {
                            if (Model.SeatType == SeatTypes.StdRRSeat)
                            {
                                <p>Standard document reading room</p>
                            }
                            else
                            {
                                <p>Map and large document reading room</p>
                            }
                        }

                        <p>
                            You will need to specify which documents you would like to see by
                            <span class="bold-text">11.59pm on Wednesday 10th February</span>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>
                        We have sent you email confirming your reservation to @Model.Email.
                        You can access the document order form at any time from the link provided in the email.
                    </p>
                </div>
            </div>
        </section>

        <section class="reservation-options">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <span class="col-md-6">
                        <a class="button primary" href="@Url.Action("OrderDocuments", "DocumentOrder", 
                                                new { bookingType = @Model.BookingType.ToStringURL(), bookingReference = Model.BookingReference, readerTicket = Model.ReadingTicket } )">Continue booking now</a>
                    </span>

                    <span class="col-md-6">
                        <a class="button primary" href="#">I'd like to continue later</a>
                    </span>
                </div>
            </div>
        </section>
    </section>
</div>
