@using book_a_reading_room_visit.model
@using book_a_reading_room_visit.web.Models
@model CancelViewModel

@{
    ViewData["Title"] = $"Cancellation confirmation - {(Model.BookingType == BookingTypes.StandardOrderVisit ? "standard booking" : "bulk order booking")} - The National Archives";
}

@await Html.PartialAsync("Partials/_Breadcrumbs")

<h1 class="display-4">Your visit has been cancelled</h1>

<div class="text-center">

    <div class="container content-wrapper">

        <div class="heading align-left">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        The following visit has been cancelled.
                    </p>
                </div>
            </div>
        </div>

        <div class="cancellation-details no-margin">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Booking reference</th>
                                <td>@Model.BookingReference</td>
                            </tr>
                            <tr>
                                <th scope="row">Reader's ticket number</th>
                                <td>@Model.ReaderTicket</td>
                            </tr>
                            @if (Model.BookingType == BookingTypes.StandardOrderVisit)
                            {
                                <tr>
                                    <th scope="row">Reading room</th>
                                    @if (Model.SeatType == SeatTypes.StdRRSeat)
                                    {
                                        <td>Document reading room <span class="secondary-info">All seats have camera stands</span></td>
                                    }
                                    else
                                    {
                                        <td>Map and large document reading room</td>
                                    }
                                </tr>
                            }
                            <tr>
                                <th scope="row">Visit date</th>
                                <td>@Model.BookingStartDate.ToString("dddd dd MMMM yyyy")</td>
                            </tr>
                            <tr>
                                <th scope="row">Seat number</th>
                                <td>@Model.SeatNumber</td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="button primary no-margin" href="@Url.Action("Index", "Home")">Book another visit</a>
                </div>
            </div>
        </div>

    </div>
</div>
