@using book_a_reading_room_visit.web.Helper
@using book_a_reading_room_visit.web.Models
@model CancelViewModel

@{
    ViewData["Title"] = "Cancel your visit";
}

<h1 class="display-4">Cancel your visit</h1>

<div class="text-center">

    <div class="container content-wrapper">

        <div class="heading align-left">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        You can cancel your booking any time before your date of visit. If you need to re-book for a different date,
                        you will need to cancel your current visit and make a new booking.
                    </p>
                </div>
            </div>
        </div>

        <div class="cancellation">
            <div class="row">
                <div class="col-md-12">
                    <form action="@Url.Action("CancellationConfirmation", "Booking", new { bookingType = @Model.BookingType.ToStringURL() })" class="cancellation-form align-left" method="post">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(Model => Model.BookingReference)
                        @Html.HiddenFor(Model => Model.ReaderTicket)
                        @Html.HiddenFor(Model => Model.SeatType)
                        @Html.HiddenFor(Model => Model.BookingStartDate)
                        @Html.HiddenFor(Model => Model.SeatNumber)
                        <fieldset>
                            <legend>Are you sure you want to cancel your visit for @Model.BookingStartDate.ToString("dddd dd MMMM yyyy")?</legend>

                            <div class="reservation-options">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" class="button">Yes - cancel my visit</button>
                                        <a class="button secondary" href="@Url.Action("OrderDocuments", "DocumentOrder",
                                                new { bookingType = @Model.BookingType.ToStringURL(), bookingReference = Model.BookingReference, readerTicket = Model.ReaderTicket } )">No - take me to the order form</a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
