@model ReturnToBookingViewModel
@{
    ViewData["Title"] = "Return to your booking - book a visit - The National Archives";
}

@await Html.PartialAsync("Partials/_Breadcrumbs")

<h1 class="display-4">Return to your booking</h1>

<div class="text-center">

    <div class="container content-wrapper">

        <div class="heading align-left">
            <div class="row">
                <div class="col-md-12">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="summary-error-message">
                            <h2>There is a problem.</h2>
                            <p>Check the highlighted responses below.</p>
                        </div>
                    }
                    <p>Enter your booking details below to find a document order for your upcoming visit to the reading rooms.</p>

                    <p>
                        You will need to complete your document order at least <span class="bold-text">5 working days before your date of visit</span>. 
                        Your visit will be automatically cancelled if you do not complete this step.
                    </p>
                    <p>
                        You can return to amend or complete your document order at any point before this deadline. You cannot change your document
                        order once this deadline has passed as we will begin preparing your order for your visit.
                    </p>
                </div>
            </div>
        </div>

        <div class="rtn-to-booking">
            <div class="row">
                <div class="col-md-12 align-left">
                    <form action="@Url.Action("ReturnToBooking", "Booking")" class="rtn-to-booking-form" method="post" novalidate>
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <div class="form-row">
                                <label for="reference-number">Enter your booking reference number</label>
                                <p class="helper-text">
                                    You can find this in your booking confirmation email. It was also shown on screen when you booked your visit.<br>
                                    For example, RR811-260-2036X.
                                </p>

                                @if (ViewData.ModelState["ticket-booking-reference"]?.Errors.Count() > 0 || (ViewData.ModelState["BookingReference"]?.Errors.Count() > 0))
                                {
                                    @Html.TextBoxFor(Model => Model.BookingReference, new { id = "reference-number", @class = "form-warning", required = true, aria_describedby = "validation-message-booking-reference" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(Model => Model.BookingReference, new { id = "reference-number", required = true })
                                }

                                @if (ViewData.ModelState["ticket-booking-reference"]?.Errors.Count() > 0)
                                {
                                    @Html.ValidationMessage("ticket-booking-reference", "", new { @class = "form-error", id = "validation-message-booking-reference" })
                                }
                                @if (ViewData.ModelState["BookingReference"]?.Errors.Count() > 0)
                                {
                                    @Html.ValidationMessage("BookingReference", "", new { @class = "form-error", id = "validation-message-booking-reference" })
                                }
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-row">
                                <label for="reader-ticket-number">Enter your reader’s ticket number</label>
                                <p class="helper-text">
                                    You can find this below the barcode on the back of your reader’s ticket card. If you don't have a reader's ticket card, you can use your temporary ticket number, which starts with ’T’.
                                </p>

                                @if (ViewData.ModelState["ticket-booking-reference"]?.Errors.Count() > 0 || (ViewData.ModelState["ticket"]?.Errors.Count() > 0))
                                {
                                    @Html.TextBoxFor(Model => Model.Ticket, new { id = "reader-ticket-number", @class = "form-warning", required = true, aria_describedby = "validation-message-ticket" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(Model => Model.Ticket, new { id = "reader-ticket-number", required = true })
                                }

                                @if (ViewData.ModelState["ticket"]?.Errors.Count() > 0)
                                {
                                    @Html.ValidationMessageFor(Model => Model.Ticket, "", new { @class = "form-error", id = "validation-message-ticket" })
                                }
                                @if (ViewData.ModelState["ticket-booking-reference"]?.Errors.Count() > 0)
                                {
                                    @Html.ValidationMessage("ticket-booking-reference", "", new { @class = "form-error", id = "validation-message-ticket" })
                                }
                            </div>
                        </fieldset>

                        <button type="submit" class="button">Go to your document order</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
