@model ReturnToBookingViewModel
@{
    ViewData["Title"] = "Return to your booking";
}

@await Html.PartialAsync("Partials/_Breadcrumbs")

<h1 class="display-4">Return to your booking</h1>

<div class="text-center">

    <div class="container content-wrapper">

        <div class="heading align-left">
            <div class="row">
                <div class="col-md-12">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="summary-error-message">
                            <h2>There is a problem.</h2>
                            <p>Check the highlighted responses below.</p>
                        </div>
                    }
                    <p>
                        If you have already reserved a space, you can use the form below to find your document
                        order form. You will need to complete your document order at least <span class="bold-text">
                            5 working days before your date of visit
                        </span>. If you do not complete this step your visit
                        will be automatically cancelled.
                    </p>
                    <p>
                        You can return to amend or complete your document order at any point before the
                        deadline. Once this date has passed, you can't change your document order as we will
                        begin preparing your order for your visit.
                    </p>
                </div>
            </div>
        </div>

        <div class="rtn-to-booking">
            <div class="row">
                <div class="col-md-12 align-left">
                    <form action="@Url.Action("ReturnToBooking", "Booking")" class="rtn-to-booking-form" method="post">
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <div class="form-row">
                                <label for="reference-number">Enter your booking reference number</label>
                                <p class="helper-text">
                                    This will have been shown on screen when you reserved your space or sent in your
                                    confirmation email, e.g. RR811-260-2036X
                                </p>

                                @if (ViewData.ModelState["ticket-booking-reference"]?.Errors.Count() > 0)
                                {
                                    @Html.TextBoxFor(Model => Model.BookingReference, new { id = "reference-number", @class = "form-warning", required = true })
                                    @Html.ValidationMessage("ticket-booking-reference", "", new { @class = "form-error" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(Model => Model.BookingReference, new { id = "reference-number", required = true })
                                }
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-row">
                                <label for="reader-ticket-number">Enter your reader’s ticket number</label>
                                <p class="helper-text">
                                    This can be found on your reader’s ticket, e.g. 102087
                                </p>

                                @if (ViewData.ModelState["ticket"]?.Errors.Count() > 0)
                                {
                                    @Html.TextBoxFor(Model => Model.Ticket, new { id = "reader-ticket-number", @class = "form-warning", required = true })
                                    @Html.ValidationMessageFor(Model => Model.Ticket, "", new { @class = "form-error" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(Model => Model.Ticket, new { id = "reader-ticket-number", required = true })
                                }
                            </div>
                        </fieldset>

                        <button type="submit" class="button">Return to your document order</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
