@using book_a_reading_room_visit.model
@using book_a_reading_room_visit.web.Helper
@using book_a_reading_room_visit.web.Models
@model BookingViewModel

@{
    ViewData["Title"] = $"Your details - {(Model.BookingType == BookingTypes.StandardOrderVisit ? "standard booking" : "bulk order booking")} - The National Archives";
}

@await Html.PartialAsync("Partials/_Breadcrumbs")

<h1 class="display-4">2. Enter your details</h1>

<div class="container content-wrapper">

    <div class="text-center">
        <section class="row" id="progress-bar">
            <h2 class="sr-only">Progress</h2>
            <div class="col-md-12">
                <ol>
                    <li><span class="step-number">1</span> <span class="step">Select a date</span></li>
                    <li aria-current="page" class="active"><span class="step-number">2</span> <span class="step">Enter your details</span></li>
                    <li><span class="step-number">3</span> <span class="step">Your visit details</span></li>
                    <li><span class="step-number">4</span> <span class="step">Order documents</span></li>
                    <li><span class="step-number">5</span> <span class="step">Order summary</span></li>
                </ol>
            </div>
        </section>
    </div>

    <div class="heading">
        <div class="row">
            <div class="col-md-12">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="summary-error-message">
                        <h2>There is a problem.</h2>
                        <p>Check the highlighted responses below.</p>
                    </div>
                }
                <h2>You are about to provisionally book this visit</h2>
                <p>Your booking will be confirmed when you submit a document order.</p>
            </div>
        </div>
    </div>

    <div class="booking-details">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Visit date</th>
                            <td>@($"{Model.BookingStartDate:dddd dd MMMM yyyy}")</td>
                        </tr>
                        <tr>
                            <th scope="row">Visit type</th>
                            <td>@(Model.BookingType == BookingTypes.StandardOrderVisit ? "Standard visit" : "Bulk order visit")</td>
                        </tr>
                        @if (Model.BookingType == BookingTypes.StandardOrderVisit)
                        {
                            <tr>
                                <th scope="row">Reading room</th>
                                @if (Model.SeatType == SeatTypes.StdRRSeat)
                                {
                                    <td>
                                        Document reading room
                                    </td>
                                }
                                else
                                {
                                    <td>Map and large document reading room</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <p class="no-margin">
        Once you complete this step, you will not be able to change the date of your visit unless you cancel it first.
    </p>

    <form class="margin-bottom" action="@Url.Action("CancelProvision", "Booking", new { bookingType = @Model.BookingType.ToStringURL() })" method="post">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.BookingReference)
        @Html.Hidden("seattype", Model.SeatType.ToStringURL())
        <button type="submit" class="btn-link">Cancel and change date now</button>
    </form>

    <div class="text-center">
        <div class="row">
            <div class="col-md-12">
                <script>
                    window.seconds_remaining = @Model.TimeRemaining;
                </script>
                <div id="enter-your-details-timer" class="full-width warning-panel">
                    <h3>@(ViewData.ModelState.IsValid ? "You have 20 minutes to enter your details." : "Enter your details")</h3>
                    <span id="timer">Complete this page by @($"{Model.ExpiredBy:hh:mm tt}"), local UK time.</span>
                    <small>If you do not complete the form by this time we will cancel your seat and you will need to start the process again.</small>
                </div>
            </div>
        </div>
    </div>

    <form action="@Url.Action("BookingConfirmation", "Booking", new { bookingType = @Model.BookingType.ToStringURL() })" method="post" novalidate>
        <div class="reader-ticket-form">
            <div class="row">
                <div class="col-md-12">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(Model => Model.ExpiredBy)
                    @Html.HiddenFor(Model => Model.BookingReference)
                    @Html.Hidden("seattype", Model.SeatType.ToStringURL())
                    @Html.HiddenFor(Model => Model.BookingStartDate)
                    <fieldset>
                        <legend class="sr-only">Enter your reader’s ticket number</legend>

                        <div class="form-row">
                            <label for="Ticket" class="mt-lg">Enter your reader’s ticket number</label>
                            <p class="helper-text">
                                You can find this below the barcode on the back of your reader’s ticket card. If you don't have a reader's ticket card, you can use your temporary ticket number, which starts with ’T’.
                            </p>

                            @if (ViewData.ModelState["Ticket"]?.Errors.Count() > 0)
                            {
                                @Html.TextBoxFor(Model => Model.Ticket, new { @class = "form-warning", required = true, aria_describedby = "validation-message-ticket" })
                                @Html.ValidationMessageFor(Model => Model.Ticket, "", new { @class = "form-error", id = "validation-message-ticket" })
                            }
                            else
                            {
                                @Html.TextBoxFor(Model => Model.Ticket, new { required = true })
                            }

                            <p class="helper-text mt-med">Don’t have a valid reader’s ticket or temporary reader’s ticket number?<br><a target="_blank" rel="noreferrer noopener" href="@Environment.GetEnvironmentVariable("ReaderRegisterURL")">Register for or renew a reader’s ticket</a></p>
                        </div>

                    </fieldset>

                    <fieldset>
                        <legend class="mt-lg">Enter your first name and last name</legend>

                        <div class="form-row">
                            <p class="helper-text">This should be the same as the name on your reader’s ticket card.</p>

                            <label for="FirstName" class="sr-only">First name</label>
                            @if (ViewData.ModelState["FirstName"]?.Errors.Count() > 0)
                            {
                                @Html.TextBoxFor(Model => Model.FirstName, new { @class = "form-warning", placeholder = "Enter first name", required = true, aria_describedby = "validation-message-firstname" })
                                @Html.ValidationMessageFor(Model => Model.FirstName, "", new { @class = "form-error", id = "validation-message-firstname" })
                            }
                            else
                            {
                                @Html.TextBoxFor(Model => Model.FirstName, new { placeholder = "Enter first name", required = true })
                            }

                            <label for="LastName" class="sr-only">Last name</label>
                            @if (ViewData.ModelState["LastName"]?.Errors.Count() > 0)
                            {
                                @Html.TextBoxFor(Model => Model.LastName, new { @class = "form-warning", placeholder = "Enter last name", required = true, aria_describedby = "validation-message-lastname" })
                                @Html.ValidationMessageFor(Model => Model.LastName, "", new { @class = "form-error", id = "validation-message-lastname" })
                            }
                            else
                            {
                                @Html.TextBoxFor(Model => Model.LastName, new { placeholder = "Enter last name", required = true })
                            }
                        </div>
                    </fieldset>

                    <div class="optional-container">
                        <fieldset>
                            <legend>Enter your email address or telephone number so we can contact you</legend>

                            <div class="form-row">
                                <label for="Email" class="mt-lg">Email address</label>
                                <p class="helper-text">
                                    We will use this to send you (1) a booking confirmation email about your document order and (2) a reminder email before your visit.
                                </p>

                                @if (ViewData.ModelState["email-phone"]?.Errors.Count() > 0 || (ViewData.ModelState["Email"]?.Errors.Count() > 0))
                                {
                                    @Html.TextBoxFor(Model => Model.Email, "", new { @class = "form-warning", aria_describedby = "validation-message-email" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(Model => Model.Email)
                                }

                                @if (ViewData.ModelState["Email"]?.Errors.Count() > 0)
                                {

                                    @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "form-error", id = "validation-message-email" })
                                }


                                @if (ViewData.ModelState["email-phone"]?.Errors.Count() > 0)
                                {
                                    @Html.ValidationMessage("email-phone", "", new { @class = "form-error", id = "validation-message-email" })
                                }
                            </div>

                            <div class="form-row">
                                <label for="phone" class="mt-lg">Telephone number</label>
                                <p class="helper-text">
                                    If you provide a telephone number only, you will need to note down the booking reference we are about to give you on the next page.
                                </p>

                                @if (ViewData.ModelState["Phone"]?.Errors.Count() > 0 || ViewData.ModelState["email-phone"]?.Errors.Count() > 0)
                                {
                                    @Html.TextBoxFor(Model => Model.Phone, new { id = "phone", @class = "form-warning", aria_describedby = "validation-message-phone" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(Model => Model.Phone, new { id = "phone" })
                                }

                                @if (ViewData.ModelState["Phone"]?.Errors.Count() > 0)
                                {
                                    @Html.ValidationMessageFor(Model => Model.Phone, "", new { @class = "form-error", id = "validation-message-phone" })
                                }

                                @if (ViewData.ModelState["email-phone"]?.Errors.Count() > 0)
                                {
                                    @Html.ValidationMessage("email-phone", "", new { @class = "form-error",  id = "validation-message-phone" })
                                }
                            </div>
                        </fieldset>
                    </div>

                    <fieldset>
                        <legend class="sr-only">Please complete the following checkboxes</legend>

                        <div class="form-row @(@ViewData.ModelState["AcceptTsAndCs"]?.Errors.Count() > 0 ? "checkbox checkbox-warning" : "checkbox")">
                            @Html.CheckBoxFor(Model => Model.AcceptTsAndCs, new { id = "terms-conditions", required = true, aria_describedby = "validation-message-terms-conditions" })
                            <label for="terms-conditions" class="reduce-text">Accept our <a target="_blank" rel="noopener noreferrer" href="https://www.nationalarchives.gov.uk/legal/booking-events/">terms of use</a> and <a target="_blank" rel="noopener noreferrer" href="https://www.nationalarchives.gov.uk/legal/privacy-policy/">privacy policy</a>.</label>

                            @if (ViewData.ModelState["AcceptTsAndCs"]?.Errors.Count() > 0)
                            {
                                @Html.ValidationMessageFor(Model => Model.AcceptTsAndCs, "", new { @class = "form-error", id = "validation-message-terms-conditions" })
                            }
                        </div>
                    </fieldset>

                    <div class="form-row">
                        <button type="submit" class="button" name="submitbutton" value="reserve">Complete provisional booking</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
