@using book_a_reading_room_visit.domain
@using book_a_reading_room_visit.web.Helper
@using book_a_reading_room_visit.web.Models
@model BookingViewModel

@{
    ViewData["Title"] = "Secure booking";
}

<h1 class="display-4">2. Enter your reader's tickets</h1>

<div class="text-center">

    <div class="container content-wrapper">

        <section class="row" id="progress-bar">
            <h2 class="sr-only">Progress</h2>
            <div class="col-md-12">
                <ol>
                    <li><span class="step-number">1</span> <span class="step">Select a date</span></li>
                    <li aria-current="page"><span class="step-number">2</span> <span class="step">Enter your reader's ticket</span></li>
                    <li><span class="step-number">3</span> <span class="step">Reservation confirmation</span></li>
                    <li><span class="step-number">4</span> <span class="step">Order documents</span></li>
                    <li><span class="step-number">5</span> <span class="step">Order complete</span></li>
                </ol>
            </div>
        </section>

        <div class="heading">
            <div class="row">
                <div class="col-md-12">
                    <h2>You are about to book the following space</h2>
                </div>
            </div>
        </div>

        <div class="booking-summary">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="prompt-grey">
                        <p>@(Model.BookingType == BookingTypes.StandardOrderVisit ? "Standard order" : "Bulk order") - @($"{Model.BookingStartDate:dddd dd MMMM}")</p>

                        @if (Model.BookingType == BookingTypes.StandardOrderVisit)
                        {
                            if (Model.SeatType == SeatTypes.StdRRSeat)
                            {
                                <p>Standard document reading room</p>
                            }
                            else
                            {
                                <p>Map and large document reading room</p>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        <form action="@Url.Action("BookingConfirmation", "Booking", new { bookingType = @Model.BookingType.ToStringURL() })" method="post">
            <div class="reader-ticket-form">
                <div class="row">
                    <div class="col-md-12">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(Model => Model.BookingReference)
                        @Html.Hidden("seattype", Model.SeatType.ToStringURL())
                        @Html.HiddenFor(Model => Model.BookingStartDate)
                        <fieldset>
                            <legend class="sr-only">Enter reader ticket number</legend>

                            <div>
                                <label for="ticket">To reserve your space, enter your reader's ticket number</label>
                            </div>

                            <div>
                                <span id="ticket-error" class="emphasis-error">@Html.ValidationMessage("ticket", new { @class = "emphasis-error" })</span>
                            </div>
                            @Html.TextBoxFor(Model => Model.Ticket, new { placeholder = "Enter  ticket number", required = true })
                            <div>
                                <a href="/">How to register or renew your reader's ticket</a>
                            </div>
                            <div>
                                <label for="email">To receive the email correspondent, enter your email address</label>
                            </div>
                            <div>
                                <span id="email-error" class="emphasis-error">@Html.ValidationMessage("email", new { @class = "emphasis-error" })</span>
                            </div>
                            @Html.TextBoxFor(Model => Model.Email, new { placeholder = "Enter email address" })
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="booking-options">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                        <fieldset id="conditions">
                            <legend class="sr-only">Please accept the following conditions to continue with your order</legend>

                            <div>
                                <label for="terms-conditions">Accept <a href="#">terms and conditions</a></label>
                                @Html.CheckBoxFor(Model => Model.AcceptTsAndCs, new { id = "terms-conditions", required = true })
                            </div>
                            <div>
                                <label for="covid-charter">Accept <a href="#">COVID charter</a></label>
                                @Html.CheckBoxFor(Model => Model.AcceptCovidCharter, new { id = "covid-charter", required = true })
                            </div>
                        </fieldset>

                        <span class="col-md-6 col-sm-6">
                            <button type="submit" formnovalidate class="button primary" name="submitbutton" value="cancel">Cancel and choose a different date</button>
                        </span>

                        <span class="col-md-6 col-sm-6">
                            <button type="submit" class="button primary" name="submitbutton" value="reserve">Reserve your space</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
