@using book_a_reading_room_visit.model
@using book_a_reading_room_visit.web.Helper
@model DocumentOrderViewModel
@{
    ViewData["Title"] = "Continue later";
}

<h1 class="display-4">Before you leave</h1>

<div class="container content-wrapper">

    <div class="heading">
        <div class="row">
            <div class="col-md-12">
                <p>
                    You have a provisional booking for:
                </p>
            </div>
        </div>
    </div>

    <div class="booking-details">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Visit date</th>
                            <td>@($"{Model.BookingStartDate:dddd dd MMMM yyyy}")</td>
                        </tr>
                        <tr>
                            <th scope="row">Visit type</th>
                            <td>
                                @(Model.BookingType == BookingTypes.StandardOrderVisit ? "Standard visit" : "Bulk order visit")
                            </td>
                        </tr>
                        @if (Model.BookingType == BookingTypes.StandardOrderVisit)
                        {
                            <tr>
                                <th scope="row">Reading room</th>
                                @if (Model.SeatType == SeatTypes.StdRRSeat)
                                {
                                    <td>Document reading room (All seats have camera stands)</td>
                                }
                                else
                                {
                                    <td>Map and large document reading room</td>
                                }
                            </tr>
                        }
                        <tr>
                            <th scope="row">Seat number</th>
                            <td>
                                @Model.SeatNumber
                                <span class="secondary-info">Based on availability, we may need to change your seat on the date of your visit.</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    If you did not provide an email address as part of your booking, safely note these booking details
                    or future reference. Return to your booking at this link before <span class="bold-text">@($"{Model.CompleteByDate:dddd dd MMMM yyyy} at {Model.CompleteByDate:hh:mm tt}") British Summer Time (BST)</span>:
                    <br />
                    <a target="_blank" rel="noreferrer noopener" href="@Url.Action("ReturnToBooking", "Booking")">Return to booking form</a>
                </p>

                <p>
                    If you provided an email address as part of your booking, a direct link to this form is also in
                    your reservation confirmation email, so you can return to your document order at any point before
                    <span class="bold-text">@($"{Model.CompleteByDate:dddd dd MMMM yyyy} at {Model.CompleteByDate:hh:mm tt}") British Summer Time (BST)</span>. If you
                    can’t see the reservation confirmation email in your inbox, check your spam and junk email folders.
                </p>

                <p>Complete your document order form at any point before the deadline otherwise your visit will be cancelled.</p>

                <p class="no-margin">You will need your booking reference and reader's ticket number to return to this booking.</p>
            </div>
        </div>

        <div class="reservation-options">
            <div class="row">
                <div class="col-md-12">
                    <h2>Are you sure you want to continue later?</h2>

                    <a class="button primary" href="@Url.Action("ThankYou", "Booking")">Yes, I'd like to continue later</a>
                    <a class="button secondary" href="@Url.Action("OrderDocuments", "DocumentOrder",
                                        new { bookingType = @Model.BookingType.ToStringURL(), bookingReference = Model.BookingReference, readerTicket = Model.ReaderTicket } )">No, take me to the order form</a>
                </div>
            </div>
        </div>
    </div>
</div>
