@using book_a_reading_room_visit.model
@using book_a_reading_room_visit.web.Helper
@model DocumentOrderViewModel
@{
    ViewData["Title"] = $"Continue later - {(Model.BookingType == BookingTypes.StandardOrderVisit ? "standard booking" : "bulk order booking")} - The National Archives";
}

@await Html.PartialAsync("Partials/_Breadcrumbs")

<h1 class="display-4">Before you leave</h1>

<div class="container content-wrapper">

    <div class="heading">
        <div class="row">
            <div class="col-md-12">
                <p>
                    You have a provisional booking to visit the reading rooms. Confirm it by filling in the document order form before <br><span class="bold-text">@($"{Model.CompleteByDate:dddd dd MMMM yyyy} at {Model.CompleteByDate:hh:mm tt}") British Summer Time (BST)</span>.
                </p>
                <p>
                    If you do not fill in the document order form by this date, your visit will be automatically cancelled.
                </p>
            </div>
        </div>
    </div>

    <div class="booking-details">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Booking reference</th>
                            <td>
                                @Model.BookingReference
                                <span class="secondary-info">
                                    A copy of this will be emailed to you. If you didn't provide your email address as part of the booking
                                    process, remember to safely note your booking reference.
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Reader's ticket number</th>
                            <td>@Model.ReaderTicket</td>
                        </tr>
                        <tr>
                            <th scope="row">Visit date</th>
                            <td>@($"{Model.BookingStartDate:dddd dd MMMM yyyy}")</td>
                        </tr>
                        <tr>
                            <th scope="row">Visit type</th>
                            <td>
                                @(Model.BookingType == BookingTypes.StandardOrderVisit ? "Standard visit" : "Bulk order visit")
                            </td>
                        </tr>
                        @if (Model.BookingType == BookingTypes.StandardOrderVisit)
                        {
                            <tr>
                                <th scope="row">Reading room</th>
                                @if (Model.SeatType == SeatTypes.StdRRSeat)
                                {
                                    <td>Document reading room <span class="secondary-info">All seats have camera stands.</span></td>
                                }
                                else
                                {
                                    <td>Map and large document reading room</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    Complete your document order using this link:<br>
                    <a target="_blank" rel="noreferrer noopener" href="/book-a-reading-room-visit/return-to-booking">https://www.nationalarchives.gov.uk/book-a-reading-room-visit/return-to-booking</a>
                </p>
                <p>
                    If you provided an email address as part of your booking, we will email you this link. If you cannot see this email in your inbox, check your spam and junk email folders.
                </p>
            </div>
        </div>

        <div class="reservation-options">
            <div class="row">
                <div class="col-md-12">
                    <h2>Are you sure you want to continue later?</h2>

                    <a class="button primary" href="@Url.Action("ThankYou", "Booking", new { bookingType = @Model.BookingType.ToStringURL() })">Yes, I’d like to order my documents later</a>
                    <a class="button secondary" href="@Url.Action("OrderDocuments", "DocumentOrder",
                                        new { bookingType = @Model.BookingType.ToStringURL(), bookingReference = Model.BookingReference, readerTicket = Model.ReaderTicket } )">No, I’d like to order my documents now</a>
                </div>
            </div>
        </div>
    </div>
</div>
