@using book_a_reading_room_visit.model
@using book_a_reading_room_visit.web.Helper
@using book_a_reading_room_visit.web.Models
@{
    ViewData["Title"] = "Manage document order";
}
@model BookingViewModel

<h1 class="display-4">5. Order complete</h1>

<div class="text-center">

    <div class="container content-wrapper">

        <<section class="row" id="progress-bar">
            <h2 class="sr-only">Progress</h2>
            <div class="col-md-12">
                <ol>
                    <li><span class="step-number">1</span> <span class="step">Select a date</span></li>
                    <li><span class="step-number">2</span> <span class="step">Enter your reader's ticket</span></li>
                    <li><span class="step-number">3</span> <span class="step">Reservation confirmation</span></li>
                    <li><span class="step-number">4</span> <span class="step">Order documents</span></li>
                    <li aria-current="page" class="active"><span class="step-number">5</span> <span class="step">Order complete</span></li>
                </ol>
            </div>
        </section>

        <div class="heading">
            <div class="row">
                <div class="col-md-12">
                    <div class="prompt-white">
                        <p>
                            You can add to or remove documents from this order <span class="bold-text">until @($"{Model.CompleteByDate:dddd dd MMMM yyyy} at {Model.CompleteByDate:hh:mm tt}") British Summer Time (BST)</span>.
                        </p>
                        <p>
                            Return to this form at any time before the deadline using the link below or from your confirmation email. Once the date
                            has passed, further amendments won’t be possible as we will begin preparing your order ready for your visit.
                        </p>

                        <div class="col-md-6 col-xs-12 col-md-offset-3 no-float">
                            <span class="col-md-6 col-xs-12 no-float">
                                <a href="@Url.Action("OrderDocuments", "DocumentOrder", new { bookingType = @Model.BookingType.ToStringURL(), readerTicket = Model.ReaderTicket, bookingReference = @Model.BookingReference })">Edit your order</a>
                            </span>
                            <span class="col-md-6 col-xs-12 no-float">
                                <a href="#">Print your order</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="booking-details">
            <div class="row">
                <div class="col-md-12">
                    <h2>Your booking details</h2>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Booking reference</th>
                                <td>@Model.BookingReference</td>
                            </tr>
                            <tr>
                                <th scope="row">Visit type</th>
                                <td>
                                    @(Model.BookingType == BookingTypes.StandardOrderVisit ? "Standard order visit" : "Bulk order visit")
                                </td>
                            </tr>
                            @if (Model.BookingType == BookingTypes.StandardOrderVisit)
                            {
                                <tr>
                                    <th scope="row">Reading room</th>
                                    <td>
                                        @if (Model.SeatType == SeatTypes.StdRRSeat)
                                        {
                                            <p>Standard document reading room</p>
                                        }
                                        else
                                        {
                                            <p>Map and large document reading room</p>
                                        }
                                    </td>
                                </tr>
                            }
                            <tr>
                                <th scope="row">Visit date</th>
                                <td>@($"{Model.BookingStartDate:dddd dd MMMM yyyy}")</td>
                            </tr>
                            <tr>
                                <th scope="row">Seat number</th>
                                <td>
                                    @Model.SeatNumber
                                    <p>Based on availability, we may need to change your seat on the date of your visit.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <form action="@Url.Action("CancelBooking", "Booking", new { bookingType = @Model.BookingType.ToStringURL() })" method="post">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(Model => Model.BookingReference)
                        @Html.HiddenFor(Model => Model.ReaderTicket)
                        @Html.HiddenFor(Model => Model.SeatType)
                        @Html.HiddenFor(Model => Model.BookingStartDate)
                        @Html.HiddenFor(Model => Model.SeatNumber)
                        <button type="submit" class="btn-link">Cancel this booking ></button>
                    </form>
                </div>
            </div>
        </section>

        <section class="order-summary">
            <div class="row">
                <div class="col-md-6">
                    <h3>Your standard order documents</h3>
                    <ol class="document-list">
                        <li>
                            <p class="bold-text">FCO 141/19497</p>
                            <p>Kenya land transfer programme: Captain F L Jones…</p>
                        </li>
                        <li>
                            <p class="bold-text">FCO 141/19497</p>
                            <p>Kenya land transfer programme: Captain F L Jones…</p>
                        </li>
                        <li>
                            <p class="bold-text">FCO 141/19497</p>
                            <p>Kenya land transfer programme: Captain F L Jones…</p>
                        </li>
                        <li>
                            <p class="bold-text">FCO 141/19497</p>
                            <p>Kenya land transfer programme: Captain F L Jones…</p>
                        </li>
                        <li>
                            <p class="bold-text">FCO 141/19497</p>
                            <p>Kenya land transfer programme: Captain F L Jones…</p>
                        </li>
                    </ol>
                </div>

                @if (Model.BookingType == BookingTypes.StandardOrderVisit)
                {
                    <section class="col-md-6">
                        <h3>Your reserve documents</h3>
                        <ol class="document-list">
                            <li>
                                <p class="bold-text">FCO 141/19497</p>
                                <p>Kenya land transfer programme: Captain F L Jones…</p>
                            </li>
                            <li>
                                <p class="bold-text">FCO 141/19497</p>
                                <p>Kenya land transfer programme: Captain F L Jones…</p>
                            </li>
                            <li>
                                <p class="bold-text">FCO 141/19497</p>
                                <p>Kenya land transfer programme: Captain F L Jones…</p>
                            </li>
                        </ol>
                    </section>
                }

            </div>
        </section>
        <a class="button" href="#">Print this order</a>
    </div>
</div>
