@using book_a_reading_room_visit.model
@using book_a_reading_room_visit.web.Helper
@using book_a_reading_room_visit.web.Models
@model OrderCompleteViewModel

@{
    ViewData["Title"] = $"Order summary - {(Model.BookingType == BookingTypes.StandardOrderVisit ? "standard booking" : "bulk order booking")} - The National Archives";
}

@await Html.PartialAsync("Partials/_Breadcrumbs")

<div class="order-summary">
    <h1 class="display-4"><span class="no-print">5. </span>Order summary</h1>

    <div class="container content-wrapper">

        <section class="row no-print" id="progress-bar">
            <h2 class="sr-only">Progress</h2>
            <div class="col-md-12">
                <ol>
                    <li><span class="step-number">1</span> <span class="step">Select a date</span></li>
                    <li><span class="step-number">2</span> <span class="step">Enter your details</span></li>
                    <li><span class="step-number">3</span> <span class="step">Your visit details</span></li>
                    <li><span class="step-number">4</span> <span class="step">Order documents</span></li>
                    <li aria-current="page" class="active"><span class="step-number">5</span> <span class="step">Order summary</span></li>
                </ol>
            </div>
        </section>

        <div class="heading">
            <div class="row">
                <div class="col-md-12">
                    <div class="prompt-grey full-width success-panel extra-margin">
                        <h2>Your document order has been saved.</h2>
                        <p>
                            You can still return to add to or remove documents from your order until your document order deadline, which is <br><span class="bold-text">@($"{Model.CompleteByDate:dddd dd MMMM yyyy}") at 11:59pm, local UK time.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <section class="booking-details">
            <div class="row">
                <div class="col-md-12">
                    <h2>Before you leave</h2>
                    <p>See your document order summary below. We will send you a confirmation email containing a summary of your final document order once the document order deadline has passed.</p>

                    <p>Check that your document order contains <b>at least:</b></p>
                    <ul>
                        <li>one catalogue reference (for a standard visit),</li>
                        <li>or at least 20 catalogue references (for a bulk order visit).</li>
                    </ul>
                    <p>If you haven’t done this before the document order deadline, your visit will be automatically cancelled as there won’t be enough documents in your order for us to fulfil for your visit.</p>

                    <h2>Can I change my document order?</h2>
                    <p>You can add to or remove catalogue references from your document order at any time before the document order deadline.</p>

                    @if (Model.CompleteByDate?.Date > DateTime.Today && Model.BookingStatus == BookingStatuses.Created)
                    {
                        <a class="button no-margin no-print" href="@Url.Action("OrderDocuments", "DocumentOrder", new { bookingType = @Model.BookingType.ToStringURL(), readerTicket = Model.ReaderTicket, bookingReference = @Model.BookingReference })">Edit your document order</a>
                    }

                    <h2 class="break-before">After the document order deadline</h2>
                    <p>If you have added the minimum number of documents required to your document order, we will send you a booking confirmation email once the document order deadline has passed. If you cannot see this email in your inbox, check your spam and junk email folders.</p>
                    <p>We will then begin preparing your documents.</p>
                    <p>If you haven’t added the minimum number of documents required to your document order, your visit to the reading rooms will be cancelled and we will send you a cancellation email.</p>

                    <h2 class="break-before">Your booking details</h2>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Booking reference</th>
                                <td>
                                    @Model.BookingReference
                                    <span class="secondary-info">A copy of this will be emailed to you. If you didn't provide your email address as part of the booking process, remember to safely note your booking reference.</span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Reader's ticket number</th>
                                <td>@(Model.ReaderTicket < 0 ? $"T{Model.ReaderTicket*-1}" : $"{Model.ReaderTicket}")</td>
                            </tr>
                            <tr>
                                <th scope="row">Visit date</th>
                                <td>
                                    @($"{Model.BookingStartDate:dddd dd MMMM yyyy}") <br>
                                    <a class="no-print" href="#prepare-for-your-visit" role="button">See our visitor information</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Visit type</th>
                                <td>
                                    @(Model.BookingType == BookingTypes.StandardOrderVisit ? "Standard visit" : "Bulk order visit")
                                </td>
                            </tr>
                            @if (Model.BookingType == BookingTypes.StandardOrderVisit)
                            {
                                <tr>
                                    <th scope="row">Reading room</th>
                                    @if (Model.SeatType == SeatTypes.StdRRSeat)
                                    {
                                        <td>Document reading room</td>
                                    }
                                    else
                                    {
                                        <td>Map and large document reading room</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <section class="order-summary">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="break-before">@(Model.BookingType == BookingTypes.StandardOrderVisit ? "Your standard order" : "Your bulk order")</h2>

                    @if (Model.Documents.Count(x => !x.IsReserved) == 0)
                    {
                        <p class="no-margin">None entered.</p>
                    }
                    else
                    {
                        <p>We will contact you if a large number of the documents you want to order become unavailable for the date of your visit.</p>
                        <ol class="document-list">
                            @foreach (var document in Model.Documents.Where(x => !x.IsReserved).ToList())
                            {
                                <li>
                                    <span class="bold-text">@document.Reference</span>
                                    @document.Description
                                </li>
                            }
                        </ol>
                    }

                    @if (Model.BookingType == BookingTypes.StandardOrderVisit)
                    {
                        <h2>Your reserve documents</h2>
                        @if (Model.Documents.Count(x => x.IsReserved) == 0)
                        {
                            <p class="no-margin">None entered.</p>
                        }
                        else
                        {
                            <ol class="document-list">
                                @foreach (var document in Model.Documents.Where(x => x.IsReserved).ToList())
                                {
                                    <li>
                                        <span class="bold-text">@document.Reference</span>
                                        @document.Description
                                    </li>
                                }
                            </ol>
                        }
                    }

                    <span id="print-your-order"></span>

                    <h2 id="prepare-for-your-visit" class="break-before">Prepare for your visit</h2>
                    <p>Find out about:</p>
                    <ul>
                        <li>
                            what to expect when you visit:<br>
                            <a target="_blank" rel="noreferrer noopener" href="https://www.nationalarchives.gov.uk/about/visit-us/researching-here/what-can-i-expect-when-i-visit/">https://www.nationalarchives.gov.uk/about/visit-us/researching-here/what-can-i-expect-when-i-visit/</a>
                        </li>
                        <li>
                            how to use the reading rooms (rules for readers):<br>
                            <a target="_blank" rel="noreferrer noopener" href="https://www.nationalarchives.gov.uk/documents/rules.pdf">https://www.nationalarchives.gov.uk/documents/rules.pdf</a>
                        </li>
                        <li>
                            more information about this service:<br>
                            <a target="_blank" rel="noreferrer noopener" href="https://www.nationalarchives.gov.uk/about/visit-us/about-the-book-a-reading-room-visit-service/">https://www.nationalarchives.gov.uk/about/visit-us/about-the-book-a-reading-room-visit-service/</a>
                        </li>
                    </ul>
                    <p>Remember to bring the correct documents to complete your registration if you are using your reader's ticket for the first time.</p>
                    <p>Bring your device if you wish to take photographs of our documents. We do not charge for this.</p>
                    <p>
                        During your visit, you will be able to order additional documents to view (an additional three documents at a time).
                    </p>

                    <h2>Can I cancel my visit?</h2>

                    <p>You can cancel your visit at any time.</p>
                    <div class="no-print">
                        <form action="@Url.Action("CancelBooking", "Booking", new { bookingType = @Model.BookingType.ToStringURL() })" method="post">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(Model => Model.BookingReference)
                            @Html.HiddenFor(Model => Model.ReaderTicket)
                            @Html.Hidden("seattype", Model.SeatType.ToStringURL())
                            @Html.HiddenFor(Model => Model.BookingStartDate)
                            @Html.HiddenFor(Model => Model.SeatNumber)
                            <button type="submit" class="button no-margin">Cancel your visit</button>
                        </form>
                        <h2>Leave this page</h2>
                        <p>
                            You can close your browser or continue your research journey using Discovery, our catalogue: <br>
                            <a target="_blank" rel="noreferrer noopener" href="https://discovery.nationalarchives.gov.uk/ ">https://discovery.nationalarchives.gov.uk/</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>